#canvas {
    border: 2px solid black;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    border: none;
    background-color: black;
    color: aliceblue;
}
#playagain{
    display: none;
}